<configuration>

    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>logstash:5000</destination> <!-- Change to your host IP if needed -->
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp />
                <logLevel />
                <threadName />
                <loggerName />
                <message />
                <stackTrace />
                <context />
                <mdc />
            </providers>
        </encoder>
    </appender>

    <!-- Console appender only for 'local' profile -->
    <springProfile name="dev">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg %X%n</pattern>
            </encoder>
        </appender>

        <!-- Root logger for local profile -->
        <root level="DEBUG">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="LOGSTASH" />
        </root>
    </springProfile>

    <!-- Default root logger for all other profiles -->
    <springProfile name="!local">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg %X%n</pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="LOGSTASH" />
        </root>
    </springProfile>

</configuration>